{% extends 'base.html' %}

{% block content %}
<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<!-- <h1>Hello Dunia!!</h1> -->
<div class="card">
  <div class="card-header header-elements p-3 my-n1">
    <h5 class="card-title mb-0 pl-0 pl-sm-2 p-2">Latest Statistics</h5>
    <div class="card-action-element ms-auto py-0">

         <div class="form-group">
          <label>Tgl Akhir</label>
          <div class="input-group date">
           <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
              </div>
              <input placeholder="masukkan tanggal Akhir" type="text" class="form-control datepicker" name="tgl_akhir">
          </div>
         </div>
      <!-- End sesi input date -->
    </div>
  </div>
  <div class="card-body">
    <canvas id="barChart" class="chartjs" data-height="400"></canvas>
  </div>
</div>
<script>
  let xVal = {{ x }};
  let yVal = {{ y }};
</script>
<!-- <script src="../static/plugin/js/bootstrap-datepicker.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
{% endblock %}