{% extends 'base.html' %}

{% block content %}
<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<!-- <h1>Hello Dunia!!</h1> -->
<div class="card">
  <div class="card-header header-elements p-3 my-n1">
    <h5 class="card-title mb-0 pl-0 pl-sm-2 p-2">Latest Statistics</h5>
    <div class="card-action-element ms-auto py-0">
      <form action="" method="post">
        {{ form.hiddent_tag() }}
        <div class="row mb-3">
          <div class="col-md-2" style="margin:0px;">
            {{ form.submit(class="btn btn-primary") }}
            <!-- <button type="submit" class="btn btn-primary">Tampilkan</button> -->
          </div>
          <label for="inputEmail3" class="col-sm-1 col-form-label">Tanggal</label>
          <div class="col-sm-2">
            {{ form.date(class="form-control", id="inputEmail3") }}
            <!-- <input type="email" class="form-control" id="inputEmail3"> -->
          </div>
          <!-- </div>
        <fieldset class="row mb-3"> -->
          <legend class="col-form-label col-sm-1 pt-0">pilihan</legend>

          <div class="col-sm-1">
            {{ form.radioTahun(class="form-check-input", name="gridRadios" checked="") }}
            <!-- <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked=""> -->
            <label class="form-check-label" for="gridRadios1">
              Tahun
            </label>
          </div>
          <div class="col-sm-2">
            {{ form.radioBulan(class="form-check-input", name="gridRadios") }}
            <!-- <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2"> -->

            <label class="form-check-label" for="gridRadios2">
              Bulan
            </label>


          </div>
        </div>






      </form>
      <!-- End sesi input date -->
    </div>
  </div>
  <div class="card-body">
    <canvas id="barChart" class="chartjs" data-height="400"></canvas>
  </div>
</div>
<script>
  let xVal = {{ x }};
  let yVal = {{ y }};
</script>
<!-- <script src="../static/plugin/js/bootstrap-datepicker.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
{% endblock %}